<?xml version='1.0' encoding='utf-8'?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ca.logiowl.barakudaescape"
    versionCode = "10"
    version     = "3.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Barracuda Escape</name>

  <description>
      Help Octi the small octopus escaping the Barracudas
  </description>

  <author href="https://logiowl.ca" email="info@logiowl.ca">
      Logi Owl Content Creators Canada Inc. - Dr.Sami Khiami
  </author>
  <icon src="BarracudaEscapeIcon.png"/>
  <platform name="android" />
  <platform name="winphone" />
  <preference name="android-minSdkVersion" value="28" />
  </widget>